{% extends 'planning_travel/hoteles/dueno_hotel/dueno_hotel.html' %}
{% load static %} 
{% block titulo %}Info{% endblock %}
{% block estilos %} 
<link rel="stylesheet" href="{% static 'planning_travel/styles/dueno/dueno_info.css' %}">
{% endblock %}
{% block contenedor %}
<main id="todo">
    <nav id="nav"> 
<!--        <div class="contenedor"> 
                <li><a class="navbarItem" href="#">Evaluaciones</a></li>
                <li><a class="navbarItem" href="#">Visitas</a> </li>
                <li><a class="navbarItem" href="#">Problemas con el alojamiento</a> </li>
            </div> -->
    </nav>  
    <div id="contenedor1 ">
        <p id="titulo-contenedor1">Reseñas</p>
        <!--<a>todos los Anuncios <i class="bi bi-caret-down-fill"></i></a>-->
    </div>
    <div id="cartas">
        {% for r in data %}
        <div class="card carta">
            <div class="card-body">
                <h4>{{ r.id_usuario.nombre }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">hotel: {{ r.id_hotel.nombre }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">puntuacion: {{ r.puntuacion }}</h6>
                <div class="contenido_carta">
                    <h5>{{ r.contenido }}</h5>   
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}