{% extends 'planning_travel/hoteles/dueno_hotel/dueno_hotel.html' %}
{% load static %}
{% block titulo %}Hoy{% endblock %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'planning_travel/styles/dueno/dueno_ingresos.css' %}">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


{% endblock %}
{% block contenedor %}
<main id="contenedor1">
    <div>
        <div id="contenedor">
            <div id="contenedor-ganaste">
                <p class="texto">Tus ingresos totales son:</p>
                <p class="texto"><span>${{ total_ganancias|floatformat:2 }}</span></p>
            </div>
        </div>
    </div>
</main>

{% endblock %}