{% extends 'planning_travel/hoteles/dueno_hotel/dueno_hotel.html' %}
{% load static %} 
{% block titulo %}Hoy{% endblock %}
{% block estilos %} 
<link rel="stylesheet" href="{% static 'planning_travel/styles/dueno/dueno_reservaciones.css' %}">
{% endblock %}
{% block contenedor %}
<main class="contenedor">
    <div class="contenedor_titulo">
        <a class="flecha" href="{% url 'dueno_hoy' %}" ><i class="bi bi-caret-left"></i></a>
        <p class="titulo_reserva">Reservaciones ({{ data.count }})</p>
    </div>
    <div id="contenedor_info_tabla">
        <table>
            <tr class="tabla_grupo">

                <td class="tabla_gris">Nombre Hotel</td>
                <td class="tabla_gris">Fecha Llegada</td>
                <td class="tabla_gris">Fecha Salida</td>
                <td class="tabla_gris">Nombre</td>
                <td class="tabla_gris">Detalles</td>
            </tr>
                {% for r in data %}
                <tr class="tabla_grupo">
                    <td class="tabla">{{ r.reserva.habitacion.hotel.nombre }}</td>
                    <td class="tabla">{{ r.reserva.fecha_llegada }}</td>
                    <td class="tabla">{{ r.reserva.fecha_salida }}</td>
                    <td class="tabla">{{ r.usuario.nombre }}</td>
                    <td class="tabla">
                        <a href="{% url 'reserva_detalle' r.id %}" class="boton-detalle-hotel">Ver Detalles</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div> 
</main>
{% endblock %}