#contenedor{
    padding: 5% 10%;
    height: 100%;
}
.dueno-hoy{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 20px;
    padding: 10px;
}
#saludo{
    font-size: 30px;
}
#boton-completar-anuncio{
    background: white;
    border-radius: 10px;
    border: solid 1px black;
    font-size: 14px;
    padding: 7px 15px;
    margin: 10px;
}
#boton-completar-anuncio:hover{
    background: rgb(226, 226, 226);
}
#titulo1{
    font-size: 25px;
}
#boton-reservaciones{
    background: white;
    color: #ff5c5c;
    font-size: 15px;
    padding: 10px;
    border: solid 1px white;
    text-decoration:underline;
}
#boton-reservaciones:hover{
    background: rgb(226, 226, 226);
    border-radius: 20px;
}
#nav-dueno-hoy{
    display: flex;
    flex-direction: row;
}
.item-nav-dueno{
    text-decoration: none;
    margin: 0 20px 0 0;
    color: black;
    border: solid 1px rgb(226, 226, 226);
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 14px;
}
.item-nav-dueno:hover{
    border: solid 1px rgb(0, 0, 0);
}
#contenedor_info_tabla{
    display: flex;
    justify-content: center;   
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    background: #e3e3e3;
    border-radius: 10px;
    overflow-y:auto; 
    overflow-x:auto; 
    width: auto;
    height: auto;
    padding: 10px;
}
#contenedor_info_tabla::-webkit-scrollbar{
    height: 10px;
    width: 10px;
    background: #929292;
    border-radius: 50px;
    }
#contenedor_info_tabla::-webkit-scrollbar-thumb  {
    background-color: rgb(184, 184, 184);
    border-radius: 50px;
    }
.tabla_grupo{
    display: flex;
    flex-direction: row; 
    padding: 0;
    margin: 0;
    border-bottom:1px solid rgb(209, 209, 209);  
}
.tabla{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #ffffff;
    justify-content: center;
    border-left:1px solid rgb(209, 209, 209);
    border-right:1px solid rgb(209, 209, 209);
    width: 230px;
    height: 80px;
    padding: 5px;
}
.tabla_gris{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left:1px solid rgb(209, 209, 209);
    border-right:1px solid rgb(209, 209, 209);
    width: 230px;
    min-height: 50px;
    background: #EBEBEB;
}
.boton-detalle-hotel{
    border: #ff5c5c solid 1px;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    color: black;
}