{% extends 'planning_travel/base.html' %}
{% load static %}

{% block titulo %}Registrar Puntuaciones{% endblock %}

{% block contenedor %}
    <div class="container my-5 w-25">
        <h1 class="text-center">Registrar Puntuacion</h1>
        <form action="{% url 'puntuaciones_crear' %}" method="post">
            {% csrf_token %}
            <div class="form-floating mb-3 col-12 p-1">
                <select class="form-select" id="comentario" name="comentario" required>
                    <option value="">Seleccionar Comentario</option>
                    {% for c in data %}
                        <option value="{{ c.id }}">{{ c.contenido }}</option>
                    {% endfor %}
                </select>
                <label for="categoria"
                    >Comentario</label
                >
            </div>
            <div class="form-floating mb-3">
                <input type="number" max="5" min="1" class="form-control" id="valoracion" placeholder="Valoración" name="valoracion">
                <label for="valoracion">Valoración</label>
            </div>
            <div class="row my-2">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
    </div>
{% endblock %}