{% extends 'planning_travel/base.html' %} 
{% load static %} 
{% block titulo %}Puntuaciones{% endblock %}
{% block contenedor %}
    <h1>Puntuaciones</h1>
    <a class="btn btn-success" href="{% url 'puntuaciones_form' %}">Agregar Puntuacion</a>

    <table class="table">
        <thead>
            <th>ID</th>
            <th>Comentario</th>
            <th>Valoracion</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for r in data %}
            <tr>
                <td>{{ r.id }}</td>
                <td>{{ r.id_comentario }}</td>
                <td>{{ r.valoracion }}</td>
                <td>
                    <button
                        type="button"
                        class="btn btn-info"
                    >
                        <i class="bi bi-eye-fill"></i>
                    </button>
                    <a
                        class="btn btn-warning"
                        href="{% url 'puntuaciones_form_editar' r.id %}"
                        ><i class="bi bi-pencil"></i
                    ></a>
                    <a
                        href="javascript:eliminar('{% url 'puntuaciones_eliminar' r.id %}')"
                        class="btn btn-danger"
                        ><i class="bi bi-x-lg"></i
                    ></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
        </ul>
    </nav>
{% endblock %}
