{% extends 'planning_travel/base.html' %} 
{% load static %} 
{% block titulo %}Registrar Reserva{% endblock %} 
{% block contenedor %}
    <div class="container my-5 w-25">
        <h1 class="text-center">Registrar Reservas</h1>
        <form id="reservaForm" action="{% url 'reservas_crear' %}" method="post">
            {% csrf_token %}
            <div class="form-floating mb-3 col-12 p-1">
                <select class="form-select" id="habitacion" name="habitacion" required>
                    <option value="">Seleccionar Número de Habitación</option>
                    {% for c in data %}
                        <option value="{{ c.id }}">{{ c.num_habitacion }}</option>
                    {% endfor %}
                </select>
                <label for="habitacion">Número de la Habitación</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="fecha_llegada" name="fecha_llegada" min="{{ today }}" required>
                <label for="fecha_llegada">Fecha de Llegada</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="fecha_salida" name="fecha_salida" required>
                <label for="fecha_salida">Fecha de Salida</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="cantidad_personas" placeholder="Número de Personas" name="cantidad_personas" required>
                <label for="cantidad_personas">Cantidad de Huespedes (max 10)</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="total" placeholder="Costo Total" name="total" required>
                <label for="total">Costo Total</label>
            </div>
            <div class="row my-2">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
    </div>

    <script>
        document.getElementById('fecha_llegada').addEventListener('change', function() {
            const fechaLlegada = new Date(this.value);
            const fechaSalidaInput = document.getElementById('fecha_salida');

            // Establecer el atributo max de fecha_salida como un día después de fecha_llegada
            fechaSalidaInput.max = new Date(fechaLlegada.getTime() + (24 * 60 * 60 * 1000)).toISOString().split("T")[0];
        });

        document.getElementById('reservaForm').addEventListener('submit', function(event) {
            const fechaLlegada = new Date(document.getElementById('fecha_llegada').value);
            const hoy = new Date();
            hoy.setHours(0, 0, 0, 0); // Establecer la hora a 00:00:00 para comparar solo las fechas

            // Verificar que la fecha de llegada no sea anterior a hoy
            if (fechaLlegada < hoy) {
                event.preventDefault(); // Detener el envío del formulario
                alert('La fecha de llegada no puede ser anterior a hoy.');
                return;
            }
        });
    </script>
{% endblock %}
