{% extends 'planning_travel/base.html' %}
{% load static %}
{% block titulo %}Reservas{% endblock %}
{% block contenedor %}
    <h1 class="text-center mt-5">Reservas</h1>
    <a class="btn btn-primary ms-4 mb-4" href="{% url 'reservas_form' %}">Agregar Reserva</a>
    <div style="margin:40px">
    <table class="table">
        <thead class="table-info">
            <th>ID</th>
            <th>Numero de la Habitación</th>
            <th>Fecha de llegada</th>
            <th>Fecha de salida</th>
            <th>Cantidad de personas</th>
            <th>Costo Total</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for r in data %}
            <tr>
                <td>{{ r.id }}</td>
                <td>{{ r.habitacion }}</td>
                <td>{{ r.fecha_llegada }}</td>
                <td>{{ r.fecha_salida }}</td>
                <td>{{ r.cantidad_personas }}</td>
                <td>{{ r.total }}</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'reservas_form_editar' r.id %}">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a href="javascript:eliminar('{% url 'reservas_eliminar' r.id %}')" class="btn btn-danger">
                        <i class="bi bi-x-lg"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
        </ul>
    </nav>
    </div>
{% endblock %}
