{% extends 'planning_travel/base.html' %} 
{% load static %} 
{% block titulo %}Actualizar Reserva{% endblock %}
{% block contenedor %}
    <div class="container my-5 w-25">
        <h1 class="text-center">Actualizar Reservas</h1>
        <form action="{% url 'reservas_actualizar' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ data.id }}">
            <div class="form-floating mb-3 col-12 p-1">
                <input type="text" class="form-control" id="habitacion" name="habitacion" value="{{ data.habitacion }}" readonly>
                <label for="habitacion">Número de la Habitación</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="fecha_llegada" placeholder="Fecha de Llegada" name="fecha_llegada" value="{{ data.fecha_llegada|date:'Y-m-d' }}">
                <label for="fecha_llegada">Fecha de Llegada</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="fecha_salida" placeholder="Fecha de Salida" name="fecha_salida" value="{{ data.fecha_salida|date:'Y-m-d' }}">
                <label for="fecha_salida">Fecha de Salida</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="cantidad_personas" placeholder="Número de Personas" name="cantidad_personas" value="{{ data.cantidad_personas }}">
                <label for="cantidad_personas">Número de Personas</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="total" placeholder="Costo Total" name="total" value="{{ data.total|floatformat:2 }}">
                <label for="total">Costo Total</label>
            </div>
            <div class="row my-2">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
    </div>
{% endblock %}