{% extends 'planning_travel/base.html' %}
{% load static %}

{% block titulo %} Actualizar Habitación {% endblock %}

{% block contenedor %}
<div class="container my-5 w-50">
    <h1 class="text-center">Actualizar Habitación</h1>
    <form action="{% url 'habitaciones_actualizar' %}" method="post">
        {% csrf_token %}
        
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="num_habitacion" name="num_habitacion" placeholder="Número de Habitación" value="{{ habitacion.num_habitacion }}" required>
            <label for="num_habitacion">Número de Habitación</label>
        </div>
        
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="hotel" name="hotel" placeholder="Hotel" value="{{ habitacion.hotel.nombre }}" readonly required>
            <label for="hotel">Hotel</label>
            <input type="hidden" name="hotel" value="{{ habitacion.hotel.id }}">
        </div>

        <div class="form-floating mb-3">
            <select class="form-select" id="ocupado" name="ocupado" required>
                <option value="on" {% if habitacion.ocupado %}selected{% endif %}>Ocupado</option>
                <option value="off" {% if not habitacion.ocupado %}selected{% endif %}>Disponible</option>
            </select>
            <label for="ocupado">Estado</label>
        </div>

        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="capacidad_huesped" name="capacidad_huesped" placeholder="Capacidad de Huéspedes" value="{{ habitacion.capacidad_huesped }}" required>
            <label for="capacidad_huesped">Capacidad de Huéspedes</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="tipoHabitacion" name="tipoHabitacion" placeholder="Tipo de Habitación" value="{{ habitacion.tipo_habitacion }}" required>
            <label for="tipoHabitacion">Tipo de Habitación</label>
        </div>

        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="precio" name="precio" placeholder="Precio" step="0.01" value="{{ habitacion.precio }}" required>
            <label for="precio">Precio</label>
        </div>

        <input type="hidden" name="id" value="{{ habitacion.id }}">

        <div class="row my-2">
            <button type="submit" class="btn btn-primary">Actualizar Habitación</button>
        </div>
        
    </form>
</div>
{% endblock %}
