{% extends "planning_travel/hoteles/dueno_hotel/dueno_hotel.html" %}
{% load static %}
{% block title %}Hoteles{% endblock %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'planning_travel/styles/dueno/dueno_anuncio.css' %}">
{% endblock %}

{% block contenedor %}
<main id="contenedor">
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags and message.tags != 'error' %}{{ message.tags }}{% else %}danger{% endif %} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

    <div id="contenedor">
        <div id="seccion1">
            <p id="anuncio">Tus Hoteles</p>
            <!--        <div> 
                <button class="botones-1"><i class="bi bi-plus-lg"></i></button> 
            </div> -->
        </div>
        <div id="seccion2">
            {% for hotel in data %}
            {% if hotel.propietario.id == request.session.logueo.id %}
            <div class="carta">
                <div class="imagen-card">
                    {% if hotel.foto_set.first %}
                    <img class="imagen" src="{{ hotel.foto_set.first.url_foto.url }}" alt="{{ hotel.nombre }}">
                    {% else %}
                    <img class="imagen" src="{% static 'path/to/default/image.jpg' %}" alt="Imagen no disponible">
                    {% endif %}
                </div>
                <div class="card-body carta-boton" style="display: flex; align-items: center; justify-content: center;flex-direction: column;">
                    <p class="contenido-card ">{{ hotel.nombre }}</p>
                    <p class="ubicacion ">{{ hotel.ciudad }}</p>
                    
                    <a class="boton-card  p-2" href="{% url 'editar_hotel_anfitrion' hotel.id %}">Editar hotel</a>
                    <a class="boton-card  p-2" href="{% url 'habitacion_anfitrion' hotel.id %}">Editar habitacion</a>
                    
                </div>
                <a href="javascript:eliminar('{% url 'hoteles_anfitrion_eliminar' hotel.id %}')" class="boton-delete"><i
                    class="bi bi-x-lg"></i> </a> 
            </div>
                {% endif %}
                {% endfor %}
        </div>
    </div>
</main>
{% endblock %}