{% extends 'planning_travel/hoteles/dueno_hotel/dueno_hotel.html' %}
{% load static %}
{% block titulo %}Hoy{% endblock %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'planning_travel/styles/dueno/dueno_hoy.css' %}">
{% endblock %}
{% block contenedor %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags and message.tags != 'error' %}{{ message.tags }}{% else %}danger{% endif %} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<main id="contenedor">
    <div class="dueno-hoy">
        <p id="saludo">¡{{ request.session.logueo.nombre }}, te damos la bienvenida!</p>
        <div>
            <a class="btn btn-primary" href="{% url 'hoteles_form_anfitrion' %}" id="boton-completar-anuncio">Registra tu hotel!</a>
            <a href="{% url 'dueno_reservaciones' %}" class="btn" id="boton-reservaciones">Todas las reservaciones</a>
        </div>
    </div>
    
    <form method="post" id="form-filtrar">
        {% csrf_token %}
        <button style="font-size: 20px;" type="submit" name="deshacer_filtro" class="btn"><i class="bi bi-arrow-counterclockwise"></i></button>
        <button style="font-size: 20px;" type="submit" name="filtrar_en_curso" class="btn">En Curso</button>
    </form>

    <div id="contenedor_info_tabla">
        <table>
            <tr class="tabla_grupo">
                <td class="tabla_gris">Nombre Hotel</td>
                <td class="tabla_gris">total</td>
                <td class="tabla_gris">Fecha Llegada</td>
                <td class="tabla_gris">Fecha Salida</td>
                <td class="tabla_gris">Nombre</td>
                <td class="tabla_gris">Estado</td>
                <td class="tabla_gris">Detalles Hotel</td>
            </tr>
            {% for r in data %}
                <tr class="tabla_grupo">
                    <td class="tabla">{{ r.reserva.habitacion.hotel.nombre }}</td>
                    <td class="tabla">{{ r.reserva.total }}</td>
                    <td class="tabla">{{ r.reserva.fecha_llegada }}</td>
                    <td class="tabla">{{ r.reserva.fecha_salida }}</td>
                    <td class="tabla">{{ r.usuario.nombre }}</td>
                    <td class="tabla">
                        {% if r.estado_reserva == 1 %}
                        <p style="color:#e0a800"><i class="bi bi-record-circle"></i> Reservada</p>
                        {% elif r.estado_reserva == 2 %}
                        <p style="color:green"><i class="bi bi-record-circle"></i> En curso</p>
                        {% elif r.estado_reserva == 3 %}
                        <p style="color:red"><i class="bi bi-record-circle"></i> Cancelada</p>
                        {% elif r.estado_reserva == 4 %}
                        <p style="color:grey"><i class="bi bi-record-circle"></i> Finalizada</p>
                        {% endif %}
                    </td>
                    <td class="tabla">
                        <a href="{% url 'reserva_detalle' r.id %}" class="boton-detalle-hotel">Ver Detalles</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</main>
{% endblock %}
