{% extends 'planning_travel/hoteles/base_hoteles.html' %}
{% load static %}

{% block title %}Perfil-Usuario{% endblock %}

{% block estilos %}
    <style>
	.container {
		display: flex;
		justify-content: center;
		max-width: 800px;
		min-height: 600px;
		background-color: white;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding-left: 0;
	}

        .menu {
            width: 200px;
            background-color: #FF5C5C;
            padding: 20px;
            color: white;
			box-sizing: border-box;

        }
        .menu a {
            display: block;
            padding: 10px;
            color: white;
            text-decoration: none;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .menu a:hover {
            background-color: white;
            color: black;
        }

        .content {
            padding: 20px;
            box-sizing: border-box;
            flex-grow: 1;
        }

        .section {
            display: none;
        }

        .section.active {
            display: block;
        }
    </style>
	<link
    rel="stylesheet"
    href="{% static 'planning_travel/styles/perfil.css' %}"
/>
	{% endblock %}

{% block content %}
<main style="height: auto, min-height:1080px">
    <div class="barra_perfil">
        <h5 class="texto"> <strong>Perfil del usuario</strong></h5>
    </div>
    <div id="modal" class="modal" style="display: none;">
        <div class="modal-contenido">
            <span class="cerrar" onclick="cerrarModal()">&times;</span>
            <h1 class="text-center">Actualizar Datos</h1>
            <form action="{% url 'perfil_actualizar' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ data.id }}">
                
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" value="{{ data.nombre }}" required class="form-control" >
                </div>
                
                <div class="form-group">
                    <label for="correo">Correo:</label>
                    <input type="email" name="correo" value="{{ data.email }}" required class="form-control" >
                </div>
            
                <div class="form-group">
                    <label for="foto">Foto de perfil:</label>
                    <input type="file" name="foto" accept="image/*" class="form-control" >
                </div>
            
                <div style="display: flex; justify-content: center;">
                    <button type="submit" class="btn btn-primary" style="display: flex; justify-content: center;">Actualizar perfil</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="menu">
            <a href="#" onclick="showSection('datos-personales')">Datos Personales</a>
            <a href="#" onclick="showSection('cambiar-clave')">Cambiar Clave</a>
            <a href="{% url 'logout' %}">Cerrar Sesión</a>
        </div>
        <div class="content">
            <div id="datos-personales" class="section active">
                <div class="content" style="display: flex; justify-content: center;">
                    <img src="{{ data.foto.url }}" alt="Imagen" class="img" style="height: 140px; width: 130px; border-radius: 100px;border: 1px solid black;">
                </div>
                    <div style="background-color: black; height: 2px; width: 100%; margin-bottom: 20px;">
                    </div>
                    <div style="text-align: center;">
                        <p><strong>Nombre:</strong><br>{{ data.nombre }}
                        </p>
                        <p>                  
                            <strong>Correo:</strong><br>{{ data.email }}
                        </p>
                        <p>                    
                            <strong>Celular:</strong><br>+57 3233297661
                        </p>
                    </div>
                    <div style="display: flex; justify-content: center; gap: 2rem;">
                        <a  href="#" class="btn"  onclick="abrirModal()">Editar datos</a>
                    </div>					               
            </div>
        </div>
        
            <div id="cambiar-clave" class="section">
                <div class="" style="margin-top: 29%; margin-right: 110px;">
                    <h2 class="text-center">Cambiar contraseña</h2>
                    <form action="{% url 'cambiar_clave' %}"  method="post">		
                        {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input  type="password" name="clave" required class="form-control" id="descripcion" placeholder="Correo">
                                <label for="descripcion" >Contraseña actual</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input  type="password" name="nueva1" required="" type="text" class="form-control" id="descripcion" placeholder="Correo">
                                <label for="descripcion">Contraseña nueva</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" name="nueva2" required="" type="text" class="form-control" id="descripcion" placeholder="Correo">
                                <label for="descripcion">Repetir contraseña</label>
                            </div>
                            <div style="display: flex; justify-content: center;">
                                <button type="submit" class="btn btn-info">Guardar cambios</button>
                            </div>
                    </form>	
                </div> 
            </div>  
        </div>       		
    </div>
</main>
{% endblock %}
{% block scripts %}
    <script>
        function showSection(sectionId) {
            const sections = document.querySelectorAll('.section');
            sections.forEach(section => section.classList.remove('active'));
            document.getElementById(sectionId).classList.add('active');
        }
        function abrirModal() {
		var modal = document.getElementById('modal');
		modal.style.display = 'block';
        }

        // Función para cerrar la modal
        function cerrarModal() {
            var modal = document.getElementById('modal');
            modal.style.display = 'none';
        }
    </script>
{% endblock %}