{% extends 'planning_travel/base.html' %}
{% load static %}

{% block titulo %}Editar{% endblock %}

{% block contenedor %}
    <div class="container my-5 w-25">
        <h1 class="text-center">Actualizar Usuario</h1>
        <form action="{% url 'usuarios_actualizar' %}" method="post">
            {% csrf_token %}
            <input hidden type="text" name="id" value="{{ data.id }}">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre" value="{{ data.nombre }}">
                <label for="nombre">Nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="correo" placeholder="Correo" name="correo" value="{{ data.correo }}">
                <label for="correo">Correo</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="contrasena" placeholder="Contraseña" name="contrasena" value="{{ data.contrasena }}">
                <label for="contrasena">Contraseña</label>
            </div>
            <div class="form-floating mb-3 col-12 p-1">
                <input type="text" class="form-control" id="rol" placeholder="Rol" name="rol" value="{{ data.rol }}">
                <label for="rol"
                    >Rol</label
                >
            </div>
            <div class="form-floating mb-3">
                <input type="image" class="form-control" id="foto" placeholder="Foto de Perfil" name="foto">
                <label for="foto">Foto de Perfil</label>
            </div>
            <div class="row my-2">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </form>
    </div>
{% endblock %}