{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> admin {% block titulo %}{% endblock %}</title>

    <!-- iconos -->
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <!-- bootstrap -->
    <link href="{% static 'planning_travel/styles/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- estilos css -->
    <link rel="stylesheet" href="{% static 'planning_travel/styles/estilos.css' %}" />
    {% block estilos %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="{% url 'inicio' %}"
                        ><i class="bi bi-globe-americas"></i> Planning Travel
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hoteles
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'hoteles_listar' %}">Ver Hoteles</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'categorias_listar' %}">Ver Categorias</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'hoteles_comodidades_listar' %}">Ver Servicios</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'comodidades_listar' %}"> Ver Servicios de los hoteles</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'reservas_listar' %}">Ver Reservas</a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="{% url 'habitaciones_listar' %}">Ver Habitaciones</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'fotos_listar' %}">Ver Fotos</a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="{% url 'reservas_usuarios_listar' %}">Ver Reserva Usuario</a>
                            </li>
                    
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuarios</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'usuarios_listar' %}">Ver usuarios</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags and message.tags != 'error' %}{{ message.tags }}{% else %}danger{% endif %} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}

    {% block contenedor %}

    {% endblock %}
    <script src="{% static 'planning_travel/js/libreria.js' %}"></script>
    <script src="{% static 'planning_travel/js/bootstrap.bundle.min.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>