{% extends 'planning_travel/base.html' %} 
{% load static %} 
{% block titulo %}Fotos{% endblock %}
{% block contenedor %}
    <h1 class="text-center mt-5">Fotos</h1>
    <a class="btn btn-primary ms-4 mb-4" href="{% url 'fotos_form' %}">Agregar fotos</a>
    <div style="margin:40px">
    <table class="table">
        <thead class="table-info">
            <th>ID</th>
            <th>Nombre del Hotel</th>
            <th>Foto</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for r in data %}
            <tr>
                <td>{{ r.id }}</td>
                <td>{{ r.id_hotel }}</td>
                <td>{% if r.url_foto.url != '' %}<img width="100" height="100" src="{{ r.url_foto.url }}" alt="">{% endif %}</td>
                <td>{{ r.descripcion }}</td>
                <td>
                    <a
                        class="btn btn-warning"
                        href="{% url 'fotos_form_editar' r.id %}"
                        ><i class="bi bi-pencil"></i
                    ></a>
                    <a
                        href="javascript:eliminar('{% url 'fotos_eliminar' r.id %}')"
                        class="btn btn-danger"
                        ><i class="bi bi-x-lg"></i
                    ></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
        </ul>
    </nav>
</div>  
{% endblock %}
