.barra_perfil{
	text-align: center;
	height: 40px;
	margin: 50px 0px;
}
.btn{  
	border-radius: 4px;
	height: 44px;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	-webkit-transition : all 200ms linear;
	transition: all 200ms linear;
	padding: 0 30px;
	letter-spacing: 1px;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	align-items: center;
	background-color: white;
	color: #ff5c5c;
	border: 1px solid #ff5c5c;
}
.btn:hover{  
	background-color: #ff5c5c;
	color: white;
	box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}

.texto{
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
  font-size: 30px;
}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 99999;
    opacity:0;
    pointer-events: none;
  }
  .modalDialog:target {
    opacity:1;
    pointer-events: auto;
  }
  .modalDialog > div {
    width: 500px;
    position: center;
    margin: 5% auto;
      height: 730px;
    border-radius: 10px;
    background: #fff;
    -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  }
  .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 7px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }
  .close:hover { background: #ff5c5c; }
  .modal {
    display: none; /* Oculta la modal por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .cerrar {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    color: #aaa;
  }
